{{!-- {{if logged in}} --}}
<div class="card">
    <h3 class="card-header">Daily Journal</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="title" name="title" class="form-input" />


        <label class="form-label" for="content">Description</label>
        <input id="content" name="content" class="form-input" />

        
    </form>
</div>
      <div class="form-group">
        <button class="btn btn-post">Post</button>
      </div>
    </form>
  </div>

{{#if blogs.length}}
<div class="card">
  <div class="col-md-6 post-list">
    <h3>All Posts:</h3>

    {{#each blogs as |blog|}}
    
    <div class="row">
      <div class="col-md-8">
        <h4>{{blog.title}}</h4>
        <h4>{{blog.description}}</h4>
        <h4>{{blog.date_created}}</h4>

      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
  </div>
    {{/each}}
  {{/if}}
</div>
</div>

<script src="/js/dashboard.js"></script>
